<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>GLA Registration Form</h1>
    </center>
    <fieldset>
        <legend>
            Registration Form
        </legend>
        <form action="">
            <label for="">Username</label>
            <input type="text" placeholder="username" required>
            <label for="">Password</label>
            <input type="text" placeholder="password" required>
        </form>
    </fieldset>
</body>
</html>
