h1{
    color: blue;
}
p{
    color: brown;
    text-align: justify;
    text-shadow: 0cm;
    text-transform: capitalize;
    font-size: 1.05rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}
img{
    border: 1px solid red;
}
table{
    border: 1px solid black;
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}